.notification-content {
    // background-color: red;

    .notification-container {
        display: flex;
        margin: 0 25px;
        height: calc(100vh - 71px);

    }
}

.notification-main {
    // width: 80vw;
    flex: 1;

    .media-contact-name {
        span:first-child {
            font-weight: normal !important;
        }


    }

    .media-body {
        .media-contact-name {
            padding-top: 5px;
        }

        .notif-action {
            padding-top: 2px;
        }

        a:first-child {
            padding-right: 20px;
        }

        a {
            color: $az-color-primary !important;

            font-size: 14px;


            i {
                padding-right: 6px;
                font-size: 15px;
            }
        }
    }
}

.notification-list {
    @include media-breakpoint-up(lg) {
        height: calc(100vh - 71px);
        position: relative;
    }

    .media {
        padding: 12px 20px;
        border: 1px solid transparent;
        position: relative;
        display: flex;
        align-items: center;

        @include media-breakpoint-up(lg) {
            padding: 12px 15px;
        }


        .notif-user::after {
            content: '';
            display: none;
        }

        +.media {

            &::before {
                content: '';
                position: absolute;
                top: -1px;
                left: 65px;
                right: 0;
                border-top: 1px solid $gray-200;
            }
        }



        @include hover-focus() {
            cursor: pointer;
            background-color: #fcfcfc;
            border-top-color: $gray-200;
            border-bottom-color: $gray-200;
            z-index: 1;

            &:first-child {
                border-top-color: transparent;
            }
        }

    }


    .media-body {
        margin-left: 20px;
    }

    .media-contact-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2px;

        span:first-child {
            display: block;
            font-size: 14px;
            font-weight: 500;
            color: $gray-900;
        }

        span:last-child {
            display: block;
            font-size: 11px;
            color: $gray-500;
        }
    }
}