/* ###### 7.7 Profile  ###### */

.profile-content {
    display: flex;
    flex-direction: column;

    padding: 0 20px;
    padding-top: 10px;

    @include media-breakpoint-up(lg) {
        flex-direction: row;
    }
}
.az-content-left-profile {
    padding-right: 0;
    display: block;
    // border-bottom: 1px solid $gray-400;

    width: auto;

    @include media-breakpoint-up(lg) {
        height: calc(100vh - 93px);

        width: 310px;
        padding-right: 20px;
        padding-left: 30px;
        padding-bottom: 0;
        border-right: 1px solid $gray-400;
        border-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
        padding-right: 25px;
    }
}
.profile-activity {
    order: 2;
    display: block;
}

.az-profile-overview {
    .az-img-user {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;

        &::after {
            display: none;
        }
    }

    .btn-icon-list {
        display: flex;
    }
    .btn-icon-list {
        svg {
            font-size: 18px;
        }

        @include border-radius(100%);
    }
}

.az-profile-name {
    color: $gray-900;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 2px;
}

.az-profile-name-text {
    color: $gray-600;
    font-size: 13px;
    margin-bottom: 0;
}

.az-profile-bio {
    font-size: 14px;
    margin-bottom: 20px;
}

.az-profile-social-list {
    display: flex;
    flex-flow: row wrap;

    .media-icon {
        font-size: 34px;
        width: 30px;
        line-height: 0;
        margin-right: 20px;
        color: rgb(69, 69, 69);
        margin-bottom: 10px;
    }
}

.profile-roles {
    order: 1;
    width: 80vw;

    @include media-breakpoint-up(lg) {
        order: 2;

        width: 13vw;
        border-left: 1px solid $gray-400;
    }

    li {
        border: none;

        padding-left: 0;
        @include media-breakpoint-up(lg) {
            padding: 10px 20px;
        }
    }
}
