/* ###### 7.7 Profile  ###### */



.az-content-left-profile {
    height: calc(100vh - 93px);
    padding-left: 30px;
    padding-right: 0;
    display: block;
    // border-bottom: 1px solid $gray-400;
    padding-bottom: 25px;
    width: auto;


    @include media-breakpoint-up(lg) {
        width: 310px;
        padding-right: 20px;
        padding-bottom: 0;
        border-right: 1px solid $gray-400;
        border-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
        padding-right: 25px;
    }
}

.az-profile-overview {
    .az-img-user {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;

        &::after {
            display: none;
        }
    }

    .btn-icon-list .btn {
        i {
            font-size: 18px;

        }

        @include border-radius(100%);
    }
}

.az-profile-name {
    color: $gray-900;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 2px;
}

.az-profile-name-text {
    color: $gray-600;
    font-size: 13px;
    margin-bottom: 0;
}

.az-profile-bio {
    font-size: 14px;
    margin-bottom: 20px;
}

.az-profile-social-list {
    display: flex;
    flex-flow: row wrap;




    .media-icon {
        font-size: 34px;
        width: 30px;
        line-height: 0;
        margin-right: 20px;
        color: rgb(69, 69, 69);
        margin-bottom: 10px;
    }
}

.profile-roles {
    border-left: 1px solid $gray-400;

    width: 13vw;

    li {
        border: none;
        padding: 10px 20px;
    }
}