.roles-body {
    display: flex;
    padding: 0;

    @include media-breakpoint-up(lg) {
        padding: 10px 20px 0 20px;
        // width: 50vw;
    }
    .list-group {
        margin: 10px;

        .list-group-item {
            padding: 10px 20px;
            border: 1px solid $gray-400;
            cursor: pointer;
            margin: 5px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            svg {
                fill: #dc3545;
            }

            &:hover {
                background-color: $gray-100;
            }
        }
    }
}
.show-edit {
    .edit-roles {
        display: block;
    }
    .add-role {
        display: none;
    }
}

.arrow-roles {
    font-size: 40px;
    @include media-breakpoint-up(md) {
        display: none;
    }
}

.add-role {
    height: calc(100vh - 66px);
    width: 100vw;
    padding-top: 10px;
    @include media-breakpoint-up(md) {
        width: 30vw;
        border-right: 1px solid $gray-500;
    }

    li {
        border: none;
    }
}
.role-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    svg {
        fill: green;
    }
}

.edit-roles {
    display: none;

    @include media-breakpoint-up(md) {
        // width: 50vw;
        padding: 10px;

        display: block;
    }

    input[type='color'] {
        width: 5vw;
    }
}
