/* ###### 7.9 Signup  ###### */

.az-signup-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: rgba($gray-100, 0.2);

    @include media-breakpoint-up(lg) {
        justify-content: flex-end;
    }
}

.signup-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 10px;

    img {
        width: 70px;

        @include media-breakpoint-up(sm) {
            width: 90px;
        }
    }

    @include media-breakpoint-up(lg) {
        justify-content: right;
    }

    div {
        margin-left: 15px;
        margin-top: 8px;

        h4 {
            font-size: 27px;
            margin-bottom: -6px;
            color: #000;

            @include media-breakpoint-up(sm) {
                font-size: 32px;
                margin-bottom: -6px;
            }
        }

        span {
            font-size: 21px;
            letter-spacing: 11px;
            color: #000;

            @include media-breakpoint-up(sm) {
                font-size: 26px;
                letter-spacing: 12px;
            }
        }
    }
}

.tel-under-text {
    font-size: 11px;
}

.az-column-signup-left {
    flex: 1;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

    @include media-breakpoint-up(sm) {
        padding: 40px;
    }

    @include media-breakpoint-up(lg) {
        display: flex;
    }

    >div {
        max-width: 600px;
    }

    h4 {
        font-size: 20px;
        font-weight: 400;
        color: $gray-900;
        margin-bottom: 25px;
    }

    p {
        line-height: 1.7;
        margin-bottom: 25px;
    }

    .btn {
        border-width: 2px;
        padding-left: 25px;
        padding-right: 25px;
        font-weight: 700;
        text-transform: uppercase;
        height: $az-height-base;
    }
}

.az-column-signup {
    background-color: #fff;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;



    img {
        margin: 0 auto 20px auto;
        width: 280px;
        display: block;

        @include media-breakpoint-up(lg) {
            display: none;
        }

        @media (min-width:1600px) {
            width: 350px;
        }
    }

    @include media-breakpoint-up(sm) {
        padding: 20px 30px;
        width: 550px;
    }

    @include media-breakpoint-up(lg) {
        border-left: 1px solid $gray-400;
    }
}

.az-signup-header {
    h4 {
        font-size: 20px;
        font-weight: 400;
        color: $gray-900;
        margin-bottom: 25px;
        text-align: center;
    }

    label {
        color: $gray-600;
        margin-bottom: 6px;
    }

    .form-control {
        color: $gray-900;
        font-weight: 500;
        border-width: 2px;
        border-color: $gray-300;

        &:focus {
            border-color: $gray-400;
            box-shadow: none;
        }

        &::placeholder {
            font-weight: 400;
            color: $gray-500;
        }
    }

    >.btn {
        margin-top: 25px;
    }

    .row {
        margin-top: 15px;

        >div {
            .btn i {
                font-size: 15px;
                line-height: 0;
                margin-right: 5px;
            }

            &:first-child .btn {
                background-color: #4267b2;
                color: #fff;

                @include hover-focus() {
                    background-color: darken(#4267b2,
                            8%);
                    color: #fff;
                }
            }
        }
    }
}

.az-signup-footer {
    p {
        color: $gray-600;
        margin-top: 10px;

        margin-bottom: 0;
    }

    a {
        color: $gray-900;
        font-weight: 700;

        @include hover-focus() {
            color: $az-color-primary;
        }
    }
}
