.sms {
    padding: 10px;
    height: 100%;
    @include media-breakpoint-up(lg) {
        padding: 10px 0 0 20px;
    }
    thead tr th:first-child {
        text-overflow: clip;
    }
    thead tr th:nth-child(2) {
        width: 10%;
        text-overflow: clip;
        text-align: center !important;
    }
    tbody tr td:nth-child(2) {
        width: 10%;
        text-align: center !important;
        text-overflow: clip;
    }

    tbody tr td:first-child {
        text-overflow: clip;
    }
}
