.video-chat-wrapper {
    .video-main {
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .users {
            display: flex;
            flex-direction: column;
            margin-right: 60px;
            margin-top: 30px;
            margin-left: auto;

            .img-user {
                display: block;
                position: relative;
                width: 52px;
                height: 52px;
                margin: 0 10px;

                margin: 4px 0;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                }
            }

            .muted {
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    font-size: 18px;
                    fill: #fff;
                }
                position: absolute;
                top: 4px;
                right: 4px;
                width: 20px;
                height: 20px;
                background-color: red;
                box-shadow: 0 0 0 2px rgba(#fff, 0.95);
                @include border-radius(100%);
            }
        }
    }
    .controles {
        border: 1px solid #f6f6f7;
        background-color: #f6f6f7;
        border-radius: 10px;
        padding: 6px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        svg {
            font-size: 22px;
            fill: $gray-700;
            margin: 0 3px;
        }
        .btn-disconect {
            height: 32px;
            min-width: 60px;
            min-height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            background: none;
            border: none;
            border-radius: 3px;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            padding: 2px 16px;
            user-select: none;
            color: #fff;
            background-color: #f04747;
            margin-left: 12px;
            margin-right: 12px;
            text-transform: uppercase;
        }
    }

    .voice-chat {
        height: 40vh;
        border-top: 1px solid $gray-400;

        .az-chat-body {
            // padding: 0 100px;
        }
    }
}
